.btn-create-new-thread {
  margin-left: 4rem;
  padding: 10px 10px 10px 45px;

  gap: 20px;

  width: 180px;
  height: 47px;

  border: 1px solid #26b893;
  border-radius: 20px;

  font-weight: 400;
  font-size: 18px;
  line-height: 27px;

  color: #26b893 !important;

  background: url("../../../public/assets/icon/Vector_Create.png") no-repeat
    10px center;
}

.btn-create-new-thread:hover {
  background-color: #26b893 !important;
  color: white !important;
  border: 1px solid #ffffff;
  background: url("../../../public/assets/icon/Vector_Create_Hover.png")
    no-repeat 10px center;
}
