@use "../../scss/" as *;

.navbar {
  background: #ffffff;
  box-shadow: 4px 6px 30px -5px rgba(0, 0, 0, 0.06);
  padding: 28px 0;

  .search-bar {
    input {
      width: 160%;
      outline: 0;
      border-width: 0 0 2px;
      border-color: blue;
    }
  }

  .navbar-nav {
    // background-color: wheat;
    & > * ~ * {
      // background-color: red;
      margin-left: 8px;

      .btn {
        font-size: 14px;
        padding: 10px 18px;
      }
      .signin {
        background-color: $main-color;
      }
      .signup {
        color: $main-color;
        border: $main-color solid 1px;
      }
    }
  }
}
