@use "../../scss/" as *;




// SIDEBAR_LEFT


.sidebar-left{
    margin-top: 10rem;
    ul {
        list-style-type: none;
        margin-left: 1rem;
      }
    
    a p{
        color: #594545 !important;
        font-weight: 500;
        cursor: pointer;
    }
    
    .menu{
        text-align: start;
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-weight: 500;
        color: #594545 !important;
    }
    
    
    
    .sidebar-group{
       margin-top: 10rem;
       margin-bottom: 10rem;
      margin-left: 2rem;
    
        .sidebar-bg-color{
            background-color: #88DFC9;
            border-radius: 8px;
            height: 15rem;
            width: 15rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    
        .sidebar-image {
            position: relative;
            bottom: 20%;
            left: 5%;
           
        }
        button {
            background-color: #26B893;
            border: none;
            color: $white;
            margin-left: 2rem;
            margin-right: 2rem;
            
        }
    }
}
