@use "../../scss/" as *;

.row {
    margin: 0 !important;
  }
  
  .col-3 {
    padding: 0 !important;
  }


.container {
    margin-top: 10rem;
    .status{
      background-color: #26B893;
      border-radius: 5px;
      height: 2rem;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 0.5rem;
  }
}

