@use "../../scss/" as *;

.customNav {
  padding: 2.406rem 6.25rem !important;
  background-color: white;

  img .navLogo {
    width: 34.59px;
    height: 48px;
  }

  .textLogo {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2rem;
    color: $main-color;
    padding-left: 2.151rem;
  }
}
